{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
  Home Core - {{ parent() }}
{% endblock %}

{% block body %}
	<h1>Page d'accueil de notre site</h1>
	
      {% for message in app.session.flashbag.get('info') %}
          <div class="alert alert-info">
            <p>Message flash : {{ message }}</p>
          </div>
      {% endfor %}
      {# Pour afficher les dernières annonces, on réutilise le contrôleur menu du PlatformBundle #}
      <h3>Dernières annonces</h3>
        {{ render(controller("OCPlatformBundle:Advert:menu", {'limit': 3})) }}
    
{% endblock %}


