<!DOCTYPE html>
<html>
	<head>
		<title>
			Bienvenue sur ma première page avec OpenClassRooms
		</title>
	</head>
	<body>
		<h1>Bye {{ nom }}!</h1>
		<p>
			Allez !! On continue. 
      		Il signifie énormément, car cela veut dire que vous avez
      		réussi à exécuter le programme pour accomplir une tâche simple :
      		afficher ce hello world !
		</p>
	
	</body>


</html>